button {
  color: var(--color);
  transition: 0.25s; }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #4C4C4C; }

button {
  font-style: "Paytone One", serif;
  text-transform: uppercase;
  outline: 0;
  background: #24C0EB;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover); }

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0); }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover); } }

.Close:hover,
.Close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover); }

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  outline: none; }

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover); }

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover); }

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color); }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover); }

.fill {
  --color: #a972cb;
  --hover: #4C4C4C;
  --background: #F1EBEB; }

.pulse {
  --color: #ef6eae;
  --hover: #4C4C4C;
  --background: #F1EBEB; }

.Close {
  --color: #ff7f82;
  --hover: #4C4C4C;
  --background: #F1EBEB; }

.raise {
  --color: #909090;
  --hover: #4C4C4C;
  --background: #F1EBEB; }

.up {
  --color: #e4cb58;
  --hover: #4C4C4C;
  --background: #F1EBEB; }

.slide {
  --color: #8fc866;
  --hover: #4C4C4C;
  --background: #F1EBEB; }

.offset {
  --color: #19bc8b;
  --hover: #4C4C4C;
  --background: #F1EBEB; }

h1 {
  font-weight: 400; }

code {
  color: #e4cb58;
  font: inherit; }

/*
  As a bonus, I will now begin including a shoddily written limerick or other high literary masterpiece in all my pens. Misspelled visual rhymes and two left feet are the spice of life. You're welcome.

  [1/?] Glass cannon 
  There was a young dev on the frontend
  delighted to see folks affronted
    They claimed satisfaction
    provoking a reaction
  but threw quite a fit when confronted
*/
