// ****************************************************************************
// *                                   Home                                   *
// ****************************************************************************
.phrases {
  text-align: center;
  color: $phrases_color !important;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.slider {
  margin-top: 60px;
  margin-bottom: 60px;
}

.slick-arrow {
  display: none;
}

.div-join {
  // Center buttons ever
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  button {
    border-radius: 13px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
    font-family: $paytone;
    font-size: 18px;
    width: 180px;
    height: 60px;
  }
}

.cards {
  padding-top: 75px;
  text-align: center;
  .row {
    display: flex;
    justify-content: space-around;
  } // animations of cards
  .ani1 {
    animation: fadeInDown 2s;
  }
  .ani2 {
    animation: fadeInDown 3.5s;
  }
  .ani3 {
    animation: fadeInDown 4s;
  }
  .card {
    text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    background: none;
    border: none;
    color: white;
    i {
      font-size: 70px;
    }
    .card-body {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.fa-comments:hover {
  -webkit-animation: rubberBand 2s;
  animation: rubberBand 2s;
}

.fa-users:hover {
  -webkit-animation: rubberBand 2s;
  animation: rubberBand 2s;
}

.fa-refresh:hover {
  -webkit-animation: rotateOut 2s;
  animation: rotateOut 2s;
}
