// ****************************************************************************
// *                               Profile Body                               *
// ****************************************************************************
.profile-body {
  display: flex;
  justify-content: space-around;
  .profile-card {
    button {
      margin-bottom: 25px;
    }
    padding-top: 30px;
    margin-top: 65px;
    margin-bottom: 25px;
    height: 635px;
    width: 55%;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
    .profile-avatar {
      height: auto;
      display: flex;
      justify-content: space-around;
      img {
        max-height: 180px;
      }
    }
    form {
      padding-top: 25px;
      input {
        width: 100%;
      }
    }
    p span {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 20px;
      background-color: #f5f1ee;
      border-radius: 6px;
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .profile-card {
    height: 400px !important;
  }
}
