$text_color_body: #4facfe;


$background_gradient: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);




// ==== Primary Colors ==== //

$color_1: #F1EBEB;
$color_2: #f5f1ee; // Navbar
$color_3: #CACACA; // Some Shadows
$color_4: #24C0EB;
$color_5: #5CCEEE;
$color_6: #1fa1c5;

// ==== HOME =====
$phrases_color : #4facfe;

$navbar_color: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);


// ==== Buttons ==== //

//=== Set button colors
// If you wonder why use Sass vars or CSS custom properties...
  // Make a map with the class names and matching colors
$colors: (
  fill: #a972cb,
  pulse: #ef6eae, 
  Close: #ff7f82,
  raise: #909090, 
  up: #e4cb58, 
  slide: #8fc866, 
  offset: #19bc8b,
);

$colorHover: #4C4C4C;
$background_color: #F1EBEB,
