@import '../styles/colors.scss';

body {
  color: $text_color_body;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  margin: 0;
  padding: 0;
}

.Phrases {
  text-align: center;
  text-shadow: 1px 0.2px 2px black;
}

.Slider {
  margin-top: 60px;
  margin-bottom: 60px;
}

.slick-arrow {
  display: none;
}

.DivJoin {
  // Center buttons ever
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}


// === Login === ///

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.Login {
  h1 {
    padding-top: 25px;
    text-align: center;
  }
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: $color_4;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  button:hover & button:active & button:focus {
    background: $color_6;
  }
  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .message a {
    color: $color_4;
    text-decoration: none;
  }
  .register-form {
    display: none;
  }
}


.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
  .info {
    margin: 50px auto;
    text-align: center;
    h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;
      color: #1a1a1a;
    }
    span {
      color: #4d4d4d;
      font-size: 12px;
      a {
        color: #000000;
        text-decoration: none;
      }
      .fa {
        color: #EF3B3A;
      }
    }
  }
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.Room {
  .col-users {
    display: flex;
    justify-content: center;
  }
  .users-card {
    width: 80%;
    height: 80%;
    padding-bottom: 60px; 
    margin-top: 40px;

    max-width: 300px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    .users-card-title {
      text-align: center;
      padding: 50px 0;
    }
    ul {
      padding: 0px;
      list-style-type: none;
      margin-bottom: 10px;
      margin-top: 10px;
      li {
        display: flex;
        justify-content: center;
      }
    }
  }
  .questions-card {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    height: 350px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }




@media (max-width: 999px) {
  .send-box {
    input {
      width: 40%;
    }
  }
}
@media (min-width: 1000px) {
  .send-box {
    input {
      width: 70%;
    }
  }
}      

  .chat-box {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-left: 20px;
    margin-right: 20px;
    height: 230px;
    background-color: #f5f1ee;
    .chat {
      overflow: scroll;
      padding-top: 20px;
      margin-top: 2.2em;
      height: 150px;
      background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
      //background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    
    }
    .chat-box-text-left {
      margin-left: 9px;
      p {
        max-width: 70%;
        word-wrap: break-word;
        display: inline-block;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 9px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        background-color: #f3f3f1;
        color: #808080;
        padding: 3px 10px 3px 10px;

      }
    }
    .chat-box-text-right {
      text-align:right;
      margin-right: 9px;
      p {
        max-width: 40%;
        word-wrap: break-word;
        display: inline-block;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 9px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        background-color: rgba(91, 249, 29, 0.21);
        color: #808080;
        padding: 3px 10px 3px 10px;

      }
    }
    .connection-box-text {
      width: 100%;
      display: flex;
      justify-content: center;
      p {
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        width: 70%;
        margin-bottom: 9px;
        color: rgba(128, 128, 128, 0.70);
        background-color: rgba(96, 207, 242, 0.44); 
        text-align: center;
      }
    }
    .send-box {
      display: flex;
      justify-content: center;
      padding-top: 5px;
      margin-left: 30px;
      left: 0px;

      button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #24C0EB;
        width: 150px;
        height: 45px;
        margin: 15px auto;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        -o-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      input {
        height: 35px;
        border: none;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        margin: 20px auto;
      }
      input::placeholder {
        color: $color_3;
      }
    }
  }
}



  