@import '../styles/colors.scss';

body {
  color: $text_color_body;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  margin: 0;
  padding: 0;
}

.Phrases {
  text-align: center;
  text-shadow: 1px 0.2px 2px black;
}

.Slider {
  margin-top: 60px;
  margin-bottom: 60px;
}

.slick-arrow {
  display: none;
}

.DivJoin {
  // Center buttons ever
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}