@import '../styles/colors.scss';
@import '../styles/fonts.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  height: 100%;
}
body {
  color: $text_color_body;
  height: 100%;
  background-image: linear-gradient(to top, #0f2c6a, #113c8d, #104cb2, #0c5dd8, #006fff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}


// ==== HOME ==== //

.Phrases {
  text-align: center;
  color : $phrases_color !important;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.Slider {
  margin-top: 60px;
  margin-bottom: 60px;
}

.slick-arrow {
  display: none;
}

.DivJoin {
  // Center buttons ever
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  button {
    border-radius: 13px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
    font-family: $paytone;
    font-size: 18px;
    width: 180px;
    height: 60px;
  }
}

.Cards {
  padding-top: 75px;
  text-align: center;
  .row {
    display: flex;
    justify-content: space-around;
  }

  // animations of cards
  .ani1 {animation: fadeInDown 2s;}
  .ani2 {animation: fadeInDown 3.5s;}
  .ani3 {animation: fadeInDown 4s;}

  .card {
    text-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    background: none;
    border: none;
    color: white;
    i {
      font-size: 70px;
    }
    .card-body {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
.fa-comments:hover {
  -webkit-animation: rubberBand 2s;
  animation: rubberBand 2s;
}
.fa-users:hover {
  -webkit-animation: rubberBand 2s;
  animation: rubberBand 2s;
}
.fa-refresh:hover {
  -webkit-animation: rotateOut 2s;
  animation: rotateOut 2s;
} 
// === Login and Register === ///

.Login {
  h1 {
    padding-top: 25px;
    text-align: center;
  }
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  font-family: $paytone;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  button {
    font-family: $paytone;
  }
  button:hover & button:active & button:focus {
    background: $color_6;
  }
  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .message a {
    color: $color_4;
    text-decoration: none;
  }
  
}

// === Room === //

.Room {
  .col-users {
    display: flex;
    justify-content: center;
  }
  .users-card {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    width: 100%;
    height: 80%;
    padding-bottom: 60px; 
    margin-top: 40px;
    overflow: scroll;
    max-width: 300px;
    max-height: 730px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    .users-card-title {
      font-family: $paytone;
      font-size: 20px;
      color: #808080;
      text-align: center;
      padding-top: 25px;
    }
    ul {
      padding: 0px;
      list-style-type: none;
      margin-bottom: 10px;
      margin-top: 10px;
      li {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        div {
          width: 170px;
          height: 75px;
          div {
            width: 100%;
            height: 100%;
            img {
              max-width:100%;
              max-height:100%; 
              width: 32px;
              height: auto;
              -moz-border-radius: 30px;
              -webkit-border-radius: 30px;
            }
            font-size: 15px;
            font-weight: bold;
            font-family: paytone, sans-serif;
            font-size: 17px;
            background-color: #21a3f3;
            color: #e6e6e6;
            word-wrap: break-word;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.32);
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            padding: 10px 1px 3px 10px;
            margin-bottom: 25px;
            p {
              text-align: right;
              padding-right: 10px;
              margin: 0px;
            }
          }
        }
      }
    }
}
  .questions-card {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    height: 240px;
    max-height: 290px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }   

  .chat-box {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-left: 20px;
    margin-right: 20px;
    max-height: 340px;
    height: 80%;
    background-color: #f5f1ee;
    .chat {
      overflow: scroll;
      height: 75%;
      max-height: 270px;
      padding-top: 20px;
      margin-top: 2.2em;
      background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
      //background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    
    }
    .chat-box-text-left {
      margin-left: 9px;
      p {
        max-width: 70%;
        word-wrap: break-word;
        display: inline-block;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 9px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        background-color: #f3f3f1;
        color: #808080;
        padding: 3px 10px 3px 10px;

      }
    }
    .chat-box-text-right {
      text-align:right;
      margin-right: 9px;
      p {
        max-width: 40%;
        word-wrap: break-word;
        display: inline-block;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 9px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        background-color: rgba(91, 249, 29, 0.21);
        color: #808080;
        padding: 3px 10px 3px 10px;
        text-align: left;

      }
    }
    .connection-box-text {
      width: 100%;
      display: flex;
      justify-content: center;
      p {
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        width: 70%;
        margin-bottom: 9px;
        color: rgba(128, 128, 128, 0.70);
        background-color: rgba(96, 207, 242, 0.44); 
        text-align: center;
      }
    }
    .send-box {
      display: flex;
      justify-content: center;
      padding-top: 5px;
      margin-left: 30px;
      left: 0px;

      button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #24C0EB;
        width: 150px;
        height: 45px;
        margin: 15px auto;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        -o-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      input {
        color: #717171;
        border: none;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        margin: 20px auto;
        width: 40%;
      }
      input::placeholder {
        color: $color_3;
        padding-left: 10px;
      }
    }
  }
}



@media (min-width: 1000px) {
  .send-box {
    input {
      width: 70%;
    }
  }
}   

.RoomsBody {

  .BarRoom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: $paytone;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 80px;
    border-radius: 5px;
    background: none;
    button {
      font-family: $paytone;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
      word-wrap: break-word;
      width: 150px;
      border-radius: 7px;
    }
    .RoomsOnlineContainer {
      text-align: center;
      .RoomsOnline {
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
        border-radius: 7px;
        background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
        color: #7A7A7A;
        width: 150px;
      }
      p {
        font-size: 17px;
        margin-bottom: 0px;
      }
    }
  }
  .room-box {
    position: relative;
    color: #7A7A7A;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    height: 150px;
    font-family: $paytone;
    padding: 10px 5px 5px 20px;
    margin-bottom: 30px;
    .text-nametest {
      background-color: #D7FFFF;
      border-radius: 7px;
    }
    .ButtonJoinRoom {
      font-family: $paytone;
      $width: 90px;
      $height: 60px;
      width: $width;
      height: $height;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      &:before {
        z-index: -1;
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;  
        border-top: $height*2 solid transparent;
        border-right: $width*2 solid #24C0EB;
        
      }
      .JoinRoom { display: none; }
      .RoomUsers { display: block; }
      &:hover .JoinRoom { display: block; }
      &:hover .RoomUsers { display: none; }
    }
  }
}