@import '../styles/colors.scss';

@font-face {
    font-family: 'RockoBold'; /*a name to be used later*/
    src: url('../fonts/RockoFLF-Bold.ttf'); /*URL to font*/
}


.navbar-kuizu{
  background-color: $color_2 !important;
  .TitleNavbar {
    color: white;
    text-shadow: 1px 2px $color_3;
    font-family: "RockoBold", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 2.5em;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding-left: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .GuestImg {
    display: block;
    width: 50px;
    height: 50px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-position:50% 50%;
    background-repeat:no-repeat;    
  }
}
