
.TitleNavbar {
  color: white;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 2.8em;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px
}

.GuestImg {
  display: block;
  width: 60px;
  height: 60px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-position:50% 50%;
  background-repeat:no-repeat;    
}