@import '../styles/colors.scss';
@import '../styles/fonts.scss';


.navbar-kuizu{
  background-image: $navbar_color !important;
  box-shadow: 0 0px 5px rgba(0,0,0,0.5);
  .TitleNavbar {
    color: white;
    text-transform: capitalize;
    text-shadow: 1px 1px $color_3;
    font-family: $paytone, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 2.4em;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0.1rem 0.1rem !important;
    padding-left: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .GuestImg {
    display: block;
    width: 45px;
    height: 45px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-position:50% 50%;
    background-repeat:no-repeat;    
  }
}
