
.Navbar {
  background-color: #2589bd;
  border-bottom-color: #66CCFF;
  height: 55px;
  box-shadow:0 0px 4px 2px #187795;
}
.GuestImg {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding: 0.2em;
  width: 45px;
  height: auto;
}
.logoImg {
  width: 85px;
  height: auto;
}
.TitleNavbar {
  color: white;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 3em;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}
